# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
.vscode
.yarn
artifacts
build
cache
coverage
dist
node_modules
types

# files
.DS_Store
.pnp.*
*.env
*.log
bun.lockb
coverage.json
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*
yarn.lock
